.best-category-title-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}

.best-category-shop-by-category {
  font-size: 40px;
}

.show-more-container {
  text-align: end;
}

.showmore-btn {
  border: none;
  background-color: #08c25e;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
