.product-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  min-height: 100vh;
}

.productpage-container {
  max-width: 1100px;
  display: flex;
  align-items: center;
}

.productpage-category {
  flex: 1;
}

.filtered-category-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

/* Styles for the select element */
.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.select-label {
  font-size: 16px;
  margin-right: 10px;
}

.select-element {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.select-element option {
  font-size: 16px;
}
